<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/loginUser" method="POST">
        PLEASE ENTER YOUR NAME
    <input type="text" name="Myname">
    PLEASE ENTER YOUR EMAIL
    <input type="email" name="Myemail">
    <button type="submit">Submit</button>
    </form>
</body>
</html>